# This file should be copied to: /etc/systemd/system

[Unit]
Description=Moment Factory Web Kiosk Runtime
After=network.target snap.ubuntu-frame.daemon.service

[Service]
# Matches your 'sudo' execution
User=root
Group=root

# The production location of your app
WorkingDirectory=/opt/web-kiosk-runtime

# --- ENVIRONMENT VARIABLES ---
# Matches your working path, adapted for /opt/
#Environment=LD_LIBRARY_PATH=/opt/web-kiosk-runtime/lib/
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=WAYLAND_DISPLAY=wayland-0

# --- LAUNCH COMMAND ---
# Executes your exact working command structure natively
ExecStart=/usr/bin/dbus-run-session -- /opt/web-kiosk-runtime/dist/'Web-Kiosk-Runtime-1.0.0.AppImage' --appimage-extract-and-run --no-sandbox --ozone-platform=wayland --ignore-gpu-blocklist --disable-gpu-sandbox --gpu-no-context-lost

# --- CRASH RECOVERY ---
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target